# Series y Dataframes

In [1]:
import pandas as pd

## Series

In [9]:
# Definiendo el index
names = pd.Series(['Aleja','Mariana','Ana','Carola'],
                  index=[1,2,3,4])
names

1      Aleja
2    Mariana
3        Ana
4     Carola
dtype: object

In [10]:
# Sin definir el index se asume por defecto, iniciando en 0
names_2 = pd.Series(['Aleja','Mariana','Ana','Carola'])
names_2

0      Aleja
1    Mariana
2        Ana
3     Carola
dtype: object

In [7]:
# Usando un diccionario
names_3 = pd.Series({10:'Alejo',11:'Mario',13:'Andres',14:'Carlo'})
names_3

10     Alejo
11     Mario
13    Andres
14     Carlo
dtype: object

In [13]:
#Slicing
names_3[1:]

11     Mario
13    Andres
14     Carlo
dtype: object

In [16]:
names_2[0]

'Aleja'

In [22]:
grades = {"student" :['Aleja','Mariana','Ana','Carola'],
           "math": [4.4,3.3,4,3],
           "english": [4.8,3.5,4,3.2]
           }

In [23]:
notas = pd.DataFrame(grades)
notas

   student  math  english
0    Aleja   4.4      4.8
1  Mariana   3.3      3.5
2      Ana   4.0      4.0
3   Carola   3.0      3.2

In [24]:
notas.columns

Index(['student', 'math', 'english'], dtype='object')

In [25]:
notas.index

RangeIndex(start=0, stop=4, step=1)