# Group By

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/bestsellers-with-categories.csv')

In [17]:
# agrupa y aplica la operación que le indico columna por columna
# nota: algunas operaciones pueden no tener sentido
df.groupby('Author').count().loc['Walter Isaacson']

Name           3
User Rating    3
Reviews        3
Price          3
Year           3
Genre          3
Name: Walter Isaacson, dtype: int64

In [21]:
# Varias funciones en una sola consulta
df.groupby('Author').agg(['min','max'])

                                                                         Name
                                                                          min
Author
Abraham Verghese                                            Cutting for Stone  \
Adam Gasiewski              Milk and Vine: Inspirational Quotes From Class...
Adam Mansbach                                            Go the F**k to Sleep
Adir Levy                   What Should Danny Do? (The Power to Choose Ser...
Admiral William H. McRaven  Make Your Bed: Little Things That Can Change Y...
...                                                                       ...
Walter Isaacson                                             Leonardo da Vinci
William Davis               Wheat Belly: Lose the Wheat, Lose the Weight, ...
William P. Young                  The Shack: Where Tragedy Confronts Eternity
Wizards RPG Team                       Player's Handbook (Dungeons & Dragons)
Zhi Gang Sha                Divine Soul Mind Body Healing and Transmission...


                                                                          max
Author
Abraham Verghese                                            Cutting for Stone  \
Adam Gasiewski              Milk and Vine: Inspirational Quotes From Class...
Adam Mansbach                                            Go the F**k to Sleep
Adir Levy                   What Should Danny Do? (The Power to Choose Ser...
Admiral William H. McRaven  Make Your Bed: Little Things That Can Change Y...
...                                                                       ...
Walter Isaacson                                                    Steve Jobs
William Davis               Wheat Belly: Lose the Wheat, Lose the Weight, ...
William P. Young                  The Shack: Where Tragedy Confronts Eternity
Wizards RPG Team                       Player's Handbook (Dungeons & Dragons)
Zhi Gang Sha                Soul Healing Miracles: Ancient and New Sacred ...

                           User Rating      Reviews        Price      Year
                                   min  max     min    max   min max   min
Author
Abraham Verghese                   4.6  4.6    4866   4866    11  11  2010  \
Adam Gasiewski                     4.4  4.4    3113   3113     6   6  2017
Adam Mansbach                      4.8  4.8    9568   9568     9   9  2011
Adir Levy                          4.8  4.8    8170   8170    13  13  2019
Admiral William H. McRaven         4.7  4.7   10199  10199    11  11  2017
...                                ...  ...     ...    ...   ...  ..   ...
Walter Isaacson                    4.5  4.6    3014   7827    20  21  2011
William Davis                      4.4  4.4    7497   7497     6   6  2012
William P. Young                   4.6  4.6   19720  19720     8   8  2009
Wizards RPG Team                   4.8  4.8   16990  16990    27  27  2017
Zhi Gang Sha                       4.6  4.6      37    220     6  17  2009

                                        Genre
                             max          min          max
Author
Abraham Verghese            2011      Fiction      Fiction
Adam Gasiewski              2017  Non Fiction  Non Fiction
Adam Mansbach               2011      Fiction      Fiction
Adir Levy                   2019      Fiction      Fiction
Admiral William H. McRaven  2017  Non Fiction  Non Fiction
...                          ...          ...          ...
Walter Isaacson             2017  Non Fiction  Non Fiction
William Davis               2013  Non Fiction  Non Fiction
William P. Young            2017      Fiction      Fiction
Wizards RPG Team            2019      Fiction      Fiction
Zhi Gang Sha                2013  Non Fiction  Non Fiction

[248 rows x 12 columns]

In [27]:
df.groupby('Author').agg({'Price':['min','max']})

                           Price
                             min max
Author
Abraham Verghese              11  11
Adam Gasiewski                 6   6
Adam Mansbach                  9   9
Adir Levy                     13  13
Admiral William H. McRaven    11  11
...                          ...  ..
Walter Isaacson               20  21
William Davis                  6   6
William P. Young               8   8
Wizards RPG Team              27  27
Zhi Gang Sha                   6  17

[248 rows x 2 columns]

In [28]:
df.groupby(['Author','Year']).agg({'Price':['min','max']})

                      Price
                        min max
Author           Year
Abraham Verghese 2010    11  11
                 2011    11  11
Adam Gasiewski   2017     6   6
Adam Mansbach    2011     9   9
Adir Levy        2019    13  13
...                     ...  ..
Wizards RPG Team 2017    27  27
                 2018    27  27
                 2019    27  27
Zhi Gang Sha     2009     6   6
                 2013    17  17

[493 rows x 2 columns]